body {
	margin-top: 2em;
}


.link {
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.link .title {
	display: inline-block;
	font-size: 22px;
	float: left;
}

.link .control-buttons {
	float: right;
}

.link .control-buttons form {
	display: inline-block;
}

.link .details {
	color: gray;
}

.link .details .user, .link .details .time {
	display: inline-block;
	font-weight: bold;
}